<!-- /templates/customers/account.liquid -->
<div class="page-width">
  <header class="section-header section-header--small text-center">
    <h1 class="section-header__title h2">{{ 'customer.account.title' | t }}</h1>
    <div class="section-header__btn">
    <div class="section-header__btn">
      <a class="btn-link" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
    </div>
  </header>

  <div class="grid grid--rows">
    <div class="grid__item medium-up--one-fifth account-details">
      <h2 class="h4">{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p>
        <a href="/account/addresses" class="btn-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </p>

    </div>
    <div class="grid__item medium-up--four-fifths">
      <h2 class="h4">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}

        <table class="responsive-table account-summary">
          <thead>
          <tr>
            <th>{{ 'customer.orders.order_number' | t }}</th>
            <th>{{ 'customer.orders.date' | t }}</th>
            <th>{{ 'customer.orders.payment_status' | t }}</th>
            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th>{{ 'customer.orders.total' | t }}</th>
          </tr>
          </thead>
          <tbody>
          {% for order in customer.orders %}
            <tr class="responsive-table__row">
              <td data-label="{{ 'customer.orders.order_number' | t }}">
                <a href="{{ order.customer_url }}"
                   class="btn-link btn-link--wide">
                   {{ order.name }}
                 </a>
              </td>
              <td data-label="{{ 'customer.orders.date' | t }}">
                {{ order.created_at | time_tag: format: 'month_day_year' }}
              </td>
              <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
              <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      {% else %}

        <p>{{ 'customer.orders.none' | t }}</p>

      {% endif %}
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
      {% endpaginate %}
    </div>
  </div>


</div>
